* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f1f1f1;
}

.Header {
  width: 100%;
  height: 57px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
.Header__nav {
  width: 188px;
  height: 15px;
  color: white;
  font-family: "Inter", sans-serif;
}
.Header__nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.Header__nav li {
  list-style: none;
  display: inline;
  font-size: 12px;
}
.Header__Logo {
  width: 108px;
  height: 27px;
}
.Header__Logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Portada {
  width: 100%;
  height: 493px;
}

.titulo {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.titulo h3, .titulo .card__data span, .card__data .titulo span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
}

.Category {
  width: 100%;
  height: 565px;
  padding: 64px 0 64px 0;
  display: flex;
  justify-content: space-around;
}

.Producto {
  width: 298px;
  height: 437px;
}
.Producto__img {
  width: 100%;
  height: 373px;
}
.Producto__btn {
  width: 150px;
  height: 40px;
  background-color: black;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  border: unset;
  margin-top: 24px;
  margin-left: 74px;
}
.Producto__btn--lg {
  width: 154px;
  height: 40px;
  background-color: black;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  border: unset;
  margin-top: 24px;
  margin-left: 74px;
}

.data__size h4, .data__colour h4 {
  margin-left: 161px;
  font-size: 10px;
  color: #1c1b1b;
  opacity: 0.5;
}

.feedback {
  width: 100%;
  height: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.Container {
  width: 881px;
  height: 516px;
  display: flex;
}
.Container__imagen {
  width: 400px;
  height: 400px;
}

.data {
  width: 398px;
  height: 100%;
  margin-left: 83px;
  font-family: "Inter", sans-serif;
}
.data__titulo {
  width: 100%;
  height: 48px;
}
.data__titulo h3, .data__titulo .card__data span, .card__data .data__titulo span {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  margin-left: 63px;
  margin-bottom: 16px;
}
.data__titulo span {
  margin-left: 183.5px;
}
.data p {
  text-align: center;
  font-size: 13px;
  line-height: 24px;
  margin-top: 24px;
}
.data__colour {
  width: 100%;
  height: 44px;
  margin-top: 24px;
}
.data__circulo, .card__circulo {
  width: 64px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  margin-left: 167px;
  margin-top: 4px;
}
.data__circulo--dorado, .card__circulo--dorado, .data__circulo--gris, .card__circulo--gris {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 3px solid white;
  box-sizing: border-box;
  background: linear-gradient(312.66deg, #efd48a 43.37%, #bf9740 70.06%), #d6b05e;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.data__circulo--gris, .card__circulo--gris {
  background: linear-gradient(231.91deg, #9E9E9E 27.13%, #E4E4E4 80.75%), #C4C4C4;
}
.data__size {
  width: 100%;
  height: 48px;
  margin-top: 24px;
}
.data__size h4 {
  margin-left: 186.5px;
}
.data__size__botones {
  width: 128px;
  height: 28px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
}
.data__btn, .data__btn--gris {
  width: 57px;
  height: 28px;
  border: 1px solid #1C1B1B;
  background-color: unset;
}
.data__btn--gris {
  border: 1px solid rgba(28, 27, 27, 0.5);
  color: rgba(28, 27, 27, 0.5);
}
.data__boton {
  width: 398px;
  height: 40px;
  background-color: black;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  border: unset;
  margin-top: 24px;
}
.data__link {
  width: 100%;
  height: 24px;
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.data__link a {
  color: #1C1B1B;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  border-bottom: 1px solid #1C1B1B;
}

.accesorios {
  width: 100%;
  height: 1022px;
}
.accesorios__seccion {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 271px;
  height: 383px;
}
.card__imagen {
  width: 100%;
  height: 271px;
}
.card__data {
  width: 100%;
  height: 56px;
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__data h3, .card__data span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}
.card__data span {
  color: rgba(28, 27, 27, 0.5);
  margin-top: 8px;
}
.card__circulo {
  margin-left: 103.5px;
  margin-top: 16px;
}
.cuadro {
  width: 100%;
  height: 675.5px;
}
.cuadro__btn {
  width: 189px;
  height: 40px;
  background-color: black;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  border: unset;
  margin-left: 589px;
}
.cuadro__foto {
  width: 720px;
  height: 379.5px;
  margin-top: 128px;
  margin-left: 323px;
}

.blogspot {
  width: 100%;
  height: 489px;
}
.blogspot h4 {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 616px;
}
.blogspot__blog {
  width: 100%;
  height: 241px;
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.blogspot__articulo {
  width: 361px;
  height: 241px;
  background-image: url("../img/articulo1.png");
}
.blogspot h4 {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(28, 27, 27, 0.5);
}
.blogspot__btn {
  width: 146px;
  height: 40px;
  background-color: black;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  border: unset;
  margin-left: 610px;
  margin-top: 64px;
}
.blogspot .mujer {
  background-image: url("../img/articulo2.png");
}
.blogspot .chicos {
  background-image: url("../img/articulo3.png");
}

.cuadro__form__content h3, .cuadro__form__content .card__data span, .card__data .cuadro__form__content span, .cuadro__lista h3, .cuadro__lista .card__data span, .card__data .cuadro__lista span, .cuadro__footer h3, .cuadro__footer .card__data span, .card__data .cuadro__footer span {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.cuadro__lista li, footer p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(28, 27, 27, 0.5);
}

footer {
  width: 100%;
  height: 592px;
  background-color: white;
  padding-top: 100px;
  display: flex;
}
footer p {
  line-height: 24px;
}

.cuadro__footer {
  width: 310px;
  height: 146px;
  margin-left: 50px;
}
.cuadro__footer p {
  margin-top: 29px;
}

.cuadro__container {
  width: 124px;
  height: 24px;
  margin-top: 29px;
  display: flex;
  justify-content: space-between;
}

.cuadro__lista {
  width: 310px;
  height: 392px;
  margin-left: 168px;
}
.cuadro__lista li {
  list-style: none;
  line-height: 32px;
}

.cuadro__form {
  width: 310px;
  height: 196px;
  margin-left: 168px;
}
.cuadro__form input {
  width: 100%;
  height: 40px;
  border: 1px rgba(28, 27, 27, 0.5) solid;
  padding-left: 24px;
  margin-top: 22px;
}
.cuadro__form__content {
  width: 100%;
  height: 72px;
}
.cuadro__form__content h3, .cuadro__form__content .card__data span, .card__data .cuadro__form__content span {
  margin-bottom: 13px;
}
.cuadro__form button {
  width: 115px;
  height: 40px;
  background-color: black;
  padding: 12px 24px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: white;
  border: unset;
  margin-top: 22px;
}